* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ======== Header ========= */

.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.btn {
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01125rem;
}

.hero .title {
    margin-top: 8px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.18px;
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ====== Client ======== */

.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: 0px;
    color: rgba(125, 133, 137, 1);
}

.clients .row-desc {
    margin-top: 25px;
}

.clients .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .image a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .image a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* ====== Guides ======== */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: rgba(0, 3, 57, 1);
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: rgba(0, 3, 57, 1);
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(90, 100, 115, 1);
    margin: 20px auto 0;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    text-align: center;
    margin: 0 70px;
}

.guide-item .title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 0%;
    color: rgba(59, 60, 69, 1);
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(6, 137, 255, 1);
}

.guide-item .arrow {
    margin-left: 6px;
    position: relative;
    top: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.guide-cta .btn {
    font-family: Poppins;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

/* ====== Featured ======== */

.featured {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 35px;
    color: rgba(0, 3, 57, 1);
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: rgba(90, 100, 115, 1);
}

.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: rgba(6, 137, 255, 1);
}

.featured .link .arrow {
    margin-left: 9px;
}

.featured .list {
    margin-top: 70px;
    gap: 30px;
    display: flex;
}

.featured .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.featured .item .desc {
    --line-clamp: 3;
    color: #a3a6ab;
    margin-top: 11px;
    font-size: 1.4;
    font-weight: 500;
    line-height: normal;
    word-break: break-all;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .lable {
    color: #4d4d52;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.14px;
    margin-left: 8px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .icon {
    margin-left: 23px;
}

/* ==== Stats ===== */

.stats {
    margin-top: 75px;
    padding: 50px 0 50px;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;

    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .img-block {
    position: relative;
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 249px;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
    padding: 45px 22px 40px;
}

.stats .stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.26px;
    width: 159px;
}

.stats .stats-trend .icon {
    margin-left: auto;
}

.stats .stats-trend .desc {
    color: #a7a7a7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    margin-top: 8px;
}

.stats .stats-trend .separate {
    height: 1.2px;
    background: #a7a7a7;
    margin-top: 25.5px;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;

    background: var(--bg-color, #fff);
    color: #fff;
    line-height: 16px;
    text-align: center;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 450;
    letter-spacing: -0.145px;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px; /* 128.571% */
}

.stats .info .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.stats .row-qty {
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 32px;
}

.stats .qty {
    font-family: Poppins;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Subscription */

.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #063183;
    height: 370px;
}

.subscription .info {
    padding: 0 80px;
    width: 671px;
    max-width: 100%;
}

.subscription .subtitle {
    color: #fff;
    font-family: Poppins;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.subscription .desc {
    color: #fff;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 34px;
    min-width: 151px;
    background-color: #fff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer {
    margin: 50px;
    padding: 55px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a {
    color: #7a7a7e;

    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    color: #7a7a7e;
    white-space: normal;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    color: rgba(100, 100, 100, 1);
    border-radius: 3px;
}

.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #ccc;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright {
    color: #c2c2c2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
